---
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import PageHeader from "@/partials/PageHeader.astro";

export const prerender = false;
const COLLECTION_FOLDER = "pages";
const pages = await getSinglePage(COLLECTION_FOLDER);
  
const astropath = Astro.url.pathname;

const pageNr = astropath === "/privacy-policy" || astropath.slice(3, astropath.length) === "/privacy-policy" ? 0 : 1;

const { title, meta_title, description, image } = pages[pageNr].data;
const { Content } = await pages[pageNr].render();
---
{

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>}